@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* This maps your font variables to Tailwind classes */
  --font-serif: var(--font-times), "Times New Roman", serif;
  --font-sans: var(--font-arial), "Arial", sans-serif;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Add this to your wrapper class */
.loader-img-wrapper {
  overflow: hidden; 
}

.disable-standard-hover {
  pointer-events: none;
}

.nature-btn {
  @apply flex items-center gap-3 px-8 py-4 rounded-full 
  bg-white/40 backdrop-blur-md 
  border border-white/30 
  text-[#3a2f25] font-medium
  shadow-md transition-all duration-300;
}

.nature-btn:hover {
  @apply scale-105 shadow-xl;
  box-shadow: 0 0 25px rgba(255, 240, 200, 0.6);
}

/* Hide scrollbar (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (Firefox) */
html {
  scrollbar-width: none;
}
body {
  background: var(--background);
  color: var(--foreground);
    cursor: none ;
  font-family: Arial, Helvetica, sans-serif;
}